#authors {

}

#authors ul {
    list-style: none;
    font-size: 1.5em;
}

#game-button {
    align-content: center;
}

#game-button a {
    margin: 50px auto;
    width: 250px;
    font-size: 1.5em;
    color: #707070;
    background-color: #F1FAEE;
}

#acknowledgements {
    text-align: center;
    margin: 0 0 10px -30px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#acknowledgements p {
    margin: 0;
}

#acknowledgements p:first-child {
    margin-bottom: 10px;
}
