#authors {

}

.subtitle {
    font-size: 24px;
}

#authors ul {
    list-style: none;
    font-size: 1.25em;
    line-height: 1.25;
}

#game-button {
    align-content: center;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;

}

#game-button a {
    margin: 50px auto;
    width: 250px;
    font-size: 1.5em;
}

#acknowledgements {
    text-align: center;
    margin: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

#acknowledgements p {
    margin: 0;
    font-size: 14px;
}


#acknowledgements p:first-child {
    margin-bottom: 5px;
    font-size: 12px;
}

/* Take 90% height if window small, 100% height if larger */
.h-md-100 {
    height: 90vh;
}

@media (min-width: 768px) {
    .h-md-100 {
        height: 100vh;
    }

    .subtitle {
        font-size: 28px;
    }


    #title {
        position: fixed;
        display: block;
    }

    #findings {
        display: block;
        position: absolute;
    }
}
