{% extends 'bootstrap/base.html' %}

{% block head %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-141274231-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-141274231-1');
</script>
{{super()}}
{% endblock %}

{% block styles %}
{{super()}}
<link href="https://fonts.googleapis.com/css?family=Montserrat:900|Lato:400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block title %}
{% if title %}{{ title }}{% else %}Album.AI{% endif %}
{% endblock %}


{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-info" role="alert">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}

{# application content needs to be provided in the app_content block #}
<div class="container-fluid">
    {% block app_content %}{% endblock %}
</div>
{% endblock %}
