{% extends "base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/game.css') }}">
{% endblock %}


{% block app_content %}
<div class="row">
    <div id="prompt" class="col-md-5 p-0 h-md-100 bg-white align-text-bottom">
        <div class="content">
            <div id="title-box" class="title">
                <div class="row align-text-bottom">
                    <div class="col-8">
                        <h1>Album.AI</h1>
                    </div>
                    <div class="col-4 text-right">
                        <a href="/" id="home-link">Back to Paper</a>
                    </div>
                </div>
            </div>
            <div>
                <p>Take a guess at the genre of this album and then see how you stack
                    up against other people and The Machines!</p>
                <p>If you already know the album or have seen this answer before, you should click the
                    "I know this one" button to skip this album</p>
            </div>
        </div>
    </div>
    <div id="game" class="col-md-7 p-2 h-100">
        <div class="content">

            <div class="row">
                <div class="col-8 offset-2">
                    <a href="/game">
                        <div class="option">I already know this album</div>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div id="album-art">
                        <img src="{{ url_for('static',filename='imgs/{}.jpg'.format(album.album_id)) }}"
                             class="img-fluid" alt="">
                    </div>
                </div>
            </div>

            <div id="genres" class="row align-content-center">
                {% for genre in genres %}
                <div class="col-6 col-sm-3 align-content-center">
                    <a href="/result?album={{album.album_id}}&guess={{ genre.genre_id }}">
                        <div class="option">{{ genre.name }}</div>
                    </a>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>

{% endblock %}
