{% extends "base.html" %}

{% block content %}
<h1>Welcome to Album.AI</h1>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam autem consectetur, consequatur cum deleniti fugit
    quos voluptatibus! Ab deserunt id libero molestiae numquam quae quaerat quisquam repudiandae, similique velit
    voluptate?
</div>
<div>Aliquam culpa debitis fuga incidunt neque nihil omnis repellendus sed tempora voluptate. Ab accusantium, at dolorum
    eos, eveniet ipsa labore laudantium molestiae mollitia odio praesentium, repudiandae rerum tempore vel veniam!
</div>
<div>Accusantium aliquid amet beatae corporis deleniti distinctio dolore dolores doloribus enim exercitationem expedita
    fugiat ipsam, ipsum iste magnam minima, mollitia numquam officiis optio perspiciatis provident, repellendus vel
    veniam voluptas voluptates?
</div>
<div>Accusamus illum impedit nulla optio! Architecto ea iusto perferendis quam suscipit? At cum cupiditate ea eum
    exercitationem fuga incidunt laboriosam omnis quia reiciendis rem reprehenderit rerum sequi temporibus, unde! Quam.
</div>
{% endblock %}
