{% extends "base.html" %}

{% block app_content %}
<div id="title" class="col-md-4 p-0 h-md-100">
    <div class="content m-4 p-4">
        <div id="title-box">
            <h1>Welcome to Album.AI</h1>
        </div>
    </div>
</div>

<div id="findings" class="col-md-8z p-0 h-md-100">
    <div class="content">
        <h2>Our Findings</h2>

        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio eius facilis modi nostrum pariatur
            placeat
            praesentium quo repellendus rerum, veniam? Deserunt distinctio ipsa minima quaerat quasi rem, repudiandae
            sint
            veniam.
        </div>
        <div>Ad animi, asperiores at facilis nobis possimus similique voluptate? Alias culpa dicta dolore dolorem
            explicabo
            facilis illo ipsa ipsum maxime, minus nam nesciunt, porro quasi quis rem repellendus reprehenderit tenetur.
        </div>
        <div>Ab aliquam amet at atque consectetur consequatur corporis deserunt doloremque doloribus eaque eius et, illo
            iure maxime minus, officiis placeat ratione reiciendis, repellat soluta? Aut deserunt quidem ratione sed
            tempore?
        </div>
        <div>Id, quasi, repudiandae. Adipisci commodi dicta illo iure iusto labore neque nostrum obcaecati officiis,
            possimus praesentium quaerat similique, sint. Alias, architecto assumenda beatae consequatur cum delectus
            inventore necessitatibus. Doloribus, eligendi.
        </div>
        <div>Beatae explicabo illum ipsum maxime tempore tenetur. Commodi culpa ex excepturi ipsam nam obcaecati quod
            similique soluta? Aperiam architecto delectus in, ipsa libero nihil quisquam quos sint. Culpa illum, ipsam!
        </div>
        <div>Aliquid blanditiis error est ex inventore ipsam obcaecati. Accusantium modi necessitatibus officiis
            perspiciatis provident repellendus. Adipisci, alias dolorem doloremque earum, error eum, harum magni maxime
            natus placeat qui quisquam sequi.
        </div>
        <div>Beatae dolores earum expedita explicabo incidunt laborum laudantium modi nulla repellat saepe? Aut,
            consequuntur dignissimos dolor dolore eveniet expedita iusto natus neque numquam perferendis possimus
            praesentium quo quos temporibus voluptates?
        </div>
        <div>Accusamus alias atque, consequuntur debitis facilis hic in laboriosam nesciunt quaerat quas quia, tempore?
            Asperiores eos esse facilis odit optio quam reiciendis ullam! Aut dolor dolore, praesentium ratione tenetur
            totam.
        </div>
        <div>Alias architecto consectetur, delectus dolor, dolores, est eum fuga illum impedit ipsa labore magni nam non
            sequi ullam veritatis vitae. Aliquid delectus in incidunt nostrum numquam placeat quia? Eum, facilis?
        </div>
        <div>Ab accusantium aliquam earum ex perferendis sapiente, tempora voluptates? Cum deserunt dolore eligendi
            maiores
            nostrum officiis quis sit vero vitae, voluptates! Ad amet asperiores beatae incidunt numquam obcaecati
            repudiandae sed.
        </div>
    </div>
</div>
{% endblock %}
